/* Mobile Devices */
@media only screen and (max-width: 650px) {
  body {
    font-size: 16px;
  }

  /* Hero Section */
  .nav-links ul {
    font-size: 17px;
    width: 300px;
  }

  .hero-content {
    margin-top: 9rem;
    margin-left: 2rem;
    width: 90%;
  }

  .hero-heading {
    font-size: 2.3rem;
  }

  .icon-links {
    position: relative;
    right: 20px;
  }

  .arrow span {
    margin-left: 47vw;
  }

  /* Expertise Section */
  .expertise-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .expertise-container {
    flex-direction: column;
  }

  .expertise-card {
    margin: 20px 0;
  }

  /* Project Section */
  .project-section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  /* Footer */
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    left: 0;
    margin: 40px 0;
  }

  .footer-email {
    margin-top: 20px;
  }

  .icon-links-2 {
    margin-left: -30px;
  }
}

/* iPads, Tablets */
@media (min-width: 651px) and (max-width: 1024px) {
  body {
    background-color: red;
  }
  /* Hero Section */
  .nav-links ul {
    font-size: 20px;
    width: 350px;
  }

  .hero-content {
    width: 70%;
    margin: 9rem auto 0;
    text-align: center;
  }

  .hero-heading {
    font-size: 2.8rem;
  }

  .icon-links {
    margin-left: 30%;
  }

  .arrow span {
    margin-left: 47vw;
  }

  /* Expertise Section */
  .expertise-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .expertise-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .expertise-card {
    margin: 20px 0;
  }

  /* Project Section */

  /* Footer */
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    left: 0;
    margin: 40px 0;
  }

  .footer-email {
    margin-top: 20px;
  }

  .icon-links-2 {
    margin-left: -30px;
  }
}
