* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(14, 14, 14);
  color: rgb(235, 235, 235);
  font-family: sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

/* Fade in transition */
.reveal {
  position: relative;
  transform: translateY(125px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* Nav Bar (hero section) */
.nav-bar {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 90vw;
  margin: 25px auto 10px;
}

.nav-bar .logo {
  font-weight: bolder;
  font-size: 40px;
}

.nav-links ul{
 display: flex;
 justify-content: space-evenly;
 width: 500px;
 list-style: none;
}

.nav-links a {
  text-decoration: none;
  color:rgb(235, 235, 235);
  position: relative;
}

.nav-links a:active {
  color: rgb(235, 235, 235);
}

/* Line under nav links */
.nav-links a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: -webkit-linear-gradient(60deg, #13bea9, #429230, #51d02f);
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hero Section */
.hero-section { 
  height: 100vh;
}

.hero-content {
  width: 45vw;
  margin-top: 15rem;
  margin-left: 5rem;
}

.hero-heading {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(60deg, #13bea9, #429230, #51d02f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 17px;
}

.icon-links {
  display: flex;
  justify-content: space-around;
  width: 28%;
}

.hero-icon {
  text-decoration: none;
  color: #b8b6b6;
  margin-top: 25px;
  margin-left: 30px;
}

.hero-icon:hover {
  color: #fff;
}

/* ARROW */
.arrow {
  position: absolute;
  top: 90vh;
}

.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll1 2s infinite;
  margin-left: 50vw;
}

.arrow span:nth-child(2) {
  animation-delay: -.2s;
}

.arrow span:nth-child(1) {
  animation-delay: -0.4s;
}

@keyframes scroll1 {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
    border-bottom: 5px solid #13bea9;
    border-right: 5px solid #51d02f;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }
}

/* Expertise Section */
.expertise-section {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.expertise-heading {
  font-size: 3.5rem;
  margin: 50px 0 6rem;
}

.expertise-container {
  display: flex;
  justify-content: space-evenly;
}

.expertise-sub-heading {
  font-size: 1.8rem;
  margin-top: 15px;
}

.expertise-card {
  margin: 0 20px;
  width: 350px;
  padding: 10px;
  background: rgb(40, 40, 40);
  border-radius: 20px;
}

.language-img {
  width: 60px;
  height: auto;
  margin: 30px 10px;
}

.language-img2 {
  width: 70px;
  height: auto;
  margin: 30px 10px;
}

.language-img3 {
  height: 70px;
  margin-top: 20px;
}

/* Work Section */
.featured-work-section {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 87vw;
  margin: 0 auto;
  margin-top: 20vh;
}

.work-heading {
  font-size: 4rem;
  margin: 50px 0;
}

.featured-project-text {
  width: 450px;
  line-height: 1.6;
  font-size: 18px;
}

.featured-img{
  border-radius: 5px;
  height: 300px;
  width: 500px;
}

.featured-project-heading {
  font-size: 1.5rem;
  color: #13be68;
  margin: 20px 0 10px
}

.tech-used-icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 15px;
}

.tech-used-icons li {
  padding: 5px 8px;
  font-weight: bold;
}

.tech-1 {
  background: #FFD600;
  color: black
}

.tech-2 {
  background: #2965f1;
}

.tech-3 {
  background: #ff5900;
}

.work-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px;
  width: 100%;
  margin: 30px auto 0;
  background: none;
  color: #13be68;
  border: 1px solid #13be68;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.work-btn:hover {
  background: #13be68c9;
  color: #fff;
  border: 1px solid #13be68c9;
}

/* Project Section */
  .project-filter {
    color: rgb(199, 199, 199);
    font-size: 20px;
    margin: 20vh 0 40px 5.5rem
  }

  .project-filter .filter-active {
    color:#13be68;
  }

  .project-section {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #525252;
    border-radius: 30px;
    width: 400px;
    margin: 12px;
  }

  .card-content-container {
    padding: 0px 20px;
    height: 350px;
  }

  .project-title {
    margin: 15px 0;
    font-size: 2rem;
    color: #13be68;
  }

  .project-text {
    line-height: 1.6;
  }

  #Img2 {
    height: auto;
    width: 400px;
    border-radius: 30px 30px 0 0;
  }

  .tech-used-icons2 {
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-top: 15px;
    font-weight: bold;
  }

  .tech-used-icons2 li {
    padding: 5px 8px;
  }

  .project-card button {
    font-size: 16px;
    margin-top: 25px;
    margin-right: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .project-btn-1 {
    background: none;
    color: #13be68;
    border: 1px solid #13be68;
    transition: .3s ease-in-out;
    cursor: pointer;
  }

  .project-btn-2 {
    background: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: .3s ease-in-out;
    cursor: pointer;
  }

  .project-btn-1:hover {
    background: #13be68;
    color: #fff;
    border: 1px solid #13be68;
  }

  .project-btn-2:hover {
    background: #fff;
    color: #000;
  }

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 20px;
  text-align: center;
  margin: 30vh auto 10px;
  border-top: 1px solid rgb(55, 55, 55);
}

.footer .logo{
  font-weight: bolder;
  font-size: 40px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: 110px;
  width: 350px;
  font-size: 20px;
  margin-bottom: 30px;
  /* margin-left: 140px; */
}

.footer-links ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
 }
 
 .footer-links a {
   text-decoration: none;
   color:rgb(235, 235, 235);
   position: relative;
 }
 
 .footer-links a:active {
   color: rgb(235, 235, 235);
 }
 
 /* Line under nav links */
 .footer-links a::after {
   content: "";
   width: 0;
   height: 3px;
   position: absolute;
   bottom: -5px;
   left: 50%;
   transform: translateX(-50%);
   background: -webkit-linear-gradient(60deg, #13bea9, #429230, #51d02f);
   transition: width 0.3s;
 }
 
 .footer-links a:hover::after {
   width: 100%;
 }

 .footer-email {
  font-size: 20px;
  margin: 15px 0;
 }

 .copyright-text {
  text-align: center;
  padding: 20px;
 }