* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 14, 14);
  color: rgb(235, 235, 235);
  font-family: sans-serif;
}

/* Nav Bar (hero section) */
.nav-bar {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 90vw;
  margin: 25px auto 10px;
}

.nav-bar .logo {
  font-weight: bolder;
  font-size: 40px;
  /* color: #429230; */
}

.nav-links ul{
 display: flex;
 justify-content: space-evenly;
 width: 500px;
 list-style: none;
}

.nav-links a {
  text-decoration: none;
  color:rgb(235, 235, 235);
  position: relative;
}

.nav-links a:active {
  color: rgb(235, 235, 235);
}

/* Line under nav links */
.nav-links a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: -webkit-linear-gradient(60deg, #13bea9, #429230, #51d02f);
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hero Section */
.hero-content {
  width: 45vw;
  margin-top: 15rem;
  margin-left: 5rem;
}

.hero-heading {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(60deg, #13bea9, #429230, #51d02f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 17px;
}

.icon-links {
  display: flex;
  justify-content: space-around;
  width: 28%;
}

.hero-icon {
  text-decoration: none;
  color: #b8b6b6;
  margin-top: 25px;
  margin-left: 30px;
}

.hero-icon:hover {
  color: #fff;
}

/* ARROW */
.arrow {
  margin-top: 9rem;
}

.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll1 2s infinite;
  margin-left: 50vw;
}

.arrow span:nth-child(2) {
  animation-delay: -.2s;
}

.arrow span:nth-child(1) {
  animation-delay: -0.4s;
}

@keyframes scroll1 {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
    border-bottom: 5px solid #13bea9;
    border-right: 5px solid #51d02f;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }
}