* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(14, 14, 14);
  color: rgb(235, 235, 235);
  font-family: sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  /* padding: 10px 20px; */
}

a:hover {
  color: #000;
}
/* Fade in transition */
.reveal {
  position: relative;
  transform: translateY(125px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

/* Nav Bar (hero section) */
.nav-bar {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 90vw;
  margin: 25px auto 10px;
}

.nav-bar .logo {
  font-weight: bolder;
  font-size: 40px;
}

.nav-links ul {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(235, 235, 235);
  position: relative;
}

.nav-links a:active {
  color: rgb(235, 235, 235);
}

/* Line under nav links */
.nav-links a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: -webkit-linear-gradient(60deg, #13bea9, #429230, #51d02f);
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Hero Section */
.hero-section {
  height: 100vh;
}

.hero-content {
  width: 45vw;
  margin: 10rem auto 0;
  text-align: center;
}

.hero-heading {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(60deg, #13bea9, #429230, #51d02f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text {
  margin-top: 20px;
  line-height: 1.7;
  font-size: 18px;
}

.icon-links {
  position: relative;
  right: 10px;
  top: 20px;
}

.hero-icon {
  text-decoration: none;
  color: #b8b6b6;
  margin-top: 25px;
  margin-left: 30px;
}

.hero-icon:hover {
  color: #fff;
}

/* ARROW */
.arrow {
  position: absolute;
  top: 90vh;
}

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll1 2s infinite;
  margin-left: 50vw;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(1) {
  animation-delay: -0.4s;
}

@keyframes scroll1 {
  0% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
    border-bottom: 5px solid #13bea9;
    border-right: 5px solid #51d02f;
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  100% {
    opacity: 1;
    transform: rotate(45deg) translate(-20px, -20px);
  }
}

/* Expertise Section */
.expertise-section {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.expertise-heading {
  font-size: 3.5rem;
  margin: 50px 0 6rem;
}

.expertise-container {
  display: flex;
  justify-content: space-evenly;
}

.expertise-sub-heading {
  font-size: 1.8rem;
  margin-top: 15px;
}

.expertise-card {
  margin: 0 20px;
  width: 350px;
  padding: 10px;
  background: rgb(40, 40, 40);
  border-radius: 20px;
}

.language-img {
  width: 60px;
  height: auto;
  margin: 30px 10px;
}

.language-img2 {
  width: 70px;
  height: auto;
  margin: 30px 10px;
}

.language-img3 {
  height: 70px;
  margin-top: 20px;
}

/* Project Section */
.project-filter {
  color: rgb(198, 198, 198);
  font-size: 20px;
  margin: 10vh 0 60px;
  text-align: center;
}

.project-filter .filter-active {
  color: #13be68;
}

.filter-text {
  color: rgb(154, 154, 154);
}

.filter-text:hover {
  color: #fff;
  cursor: pointer;
}

.project-section {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px 50px;
}

.work-heading {
  text-align: center;
  margin-top: 25vh;
  font-size: 3.5rem;
}

.project-card {
  width: 95%;
  margin: 0 auto;
  cursor: pointer;
}

.project-img {
  width: 100%;
  border-radius: 10px;
  transition: all ease-in-out 0.2s;
}

.project-img:hover {
  filter: brightness(85%);
}

.project-name {
  font-size: 26px;
  margin-top: 10px;
  letter-spacing: 1.3px;
}

.see-more-btn {
  font-size: 26px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 10vh auto;
  padding: 10px 25px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  background: rgb(40, 40, 40);
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.see-more-btn:hover {
  background-color: #429230;
}

/* Contact Section */
.contact-section {
  margin: 30vh auto 0;
  padding: 100px 0;
  background: -webkit-linear-gradient(60deg, #13bea9, #429230, #51d02f);
}

.contact-card {
  background: rgb(40, 40, 40);
  width: 88vw;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-radius: 10px;
  margin: 0 auto;
}

.contact-heading {
  font-size: 38px;
  border-bottom: 3px solid #13be68;
  margin-bottom: 30px;
}

.contact-left p {
  margin: 10px 0;
  font-size: 18px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-right input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.contact-right textarea {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.contact-btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.contact-btn:hover {
  background-color: #429230;
  color: #fff;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 40px;
  text-align: center;
  margin: 0vh auto 10px;
}

.footer .logo {
  font-weight: bolder;
  font-size: 40px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: 110px;
  width: 350px;
  font-size: 20px;
  margin-bottom: 30px;
}

.footer-links ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  color: rgb(235, 235, 235);
  position: relative;
}

.footer-links a:active {
  color: rgb(235, 235, 235);
}

/* Line under nav links */
.footer-links a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: -webkit-linear-gradient(60deg, #13bea9, #429230, #51d02f);
  transition: width 0.3s;
}

.footer-links a:hover::after {
  width: 100%;
}

.footer-email {
  font-size: 20px;
  margin: 15px 0;
}

.copyright-text {
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}
